@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
span.substitute {
    display: none;
    width: auto;
    position: absolute;
    left: 0;
    top: -30px;
    background: #333;
    color: #fff;
    border-radius: 5px;
    padding: 2px;
}

span.correctable {
    width: auto;
    position: relative;
}

span.correctable::before {
    content: "~~~~~~~~~~~~~~~~~~~~~~~~~~";
    font-size: 0.6em;
    color: red;
    width: 100%;
    position: absolute;
    top: 12px;
    left: -1px;
    overflow: hidden;
}

span.correctable:hover > span.substitute {
    display: inline-block;
}
